body {
    background-color: rgba(175, 240, 240, 0.711);
}

#top_title {
    font-size: 90px;
    font-family: Georgia, serif;
    font-style: oblique;
    font-weight: bold;
}

#side {
    background-color: rgba(32, 200, 219, 0.306);
}

table {
    width: 30%;
}