body {
    background-color: rgba(175, 240, 240, 0.419);
}

#top_title {
    font-size: 90px;
    font-family: Georgia, serif;
    font-style: oblique;
    font-weight: bold;
}

#blank {
    width: 50%;
}

#top_table {
    width: 100%;
    background-color: #FFFFFF;

}

#descript {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

#descript-msg {
    font-size: 40px;
    padding-left: 30%;
}

img {
    width: 200px;
    height: 200px;
}

a {
    text-decoration: none;
    color: inherit;
}

#link {
    font-size: 30px;
}